nav(class="primary-nav", id="primary-nav")
  h4.primary-nav__headline Navigation
  ul.primary-nav__menu
    li
       a(href="#") The team
    li
       a(href="#") Our services
    li
       a(href="#") Our projects
    li
       a(href="#") Contact us