.projects__previews

  .project
    a(href="#", class="project__preview-image")
      .project__preview-info
        h2.project__title Nature
        p.project__description Featuring the wild and beautiful Earth from the eyes of photographers worldwide.

  .project
    a(href="#", class="project__preview-image")
      .project__preview-info
        h2.project__title Food &amp; Drink
        p.project__description Featuring the best food and drink photos showcasing the world of culinary delights.

  .project
    a(href="#", class="project__preview-image")
      .project__preview-info
        h2.project__title Architecture
        p.project__description Discover a new appreciation for the world of architecture, featuring buildings and structures from around the world.

  .project
    a(href="#", class="project__preview-image")
      .project__preview-info
        h2.project__title Animals
        p.project__description  Featuring wildlife photographers as they explore the beauty of the natural world.

    
