.projects__contents
  
  .project
    .project__preview-image
      h2.project__title Nature
      p.project__description Featuring the wild and beautiful Earth from the eyes of photographers worldwide.
    .project__details
      p It's important to have some information about your subject before you head out. For example, NYIP mentor Chris Corradino leads multiple photo tours across the globe on a yearly basis, and he also plans frequent wildlife photography excursions of his own. One of the most important parts of his compositional process is the research before the trip. Without any background or context about what and where you'll be working, you will inevitably be somewhat unprepared. Check out this article about his 2010 trip to photograph puffins on Machias Seal Island, a speck of land in the Bay of Fundy of the coast of Maine. The research and preparation that went into the journey clearly simplified the process when it was time to get to work. 
      p If a certain animal is the focus of your wildlife shot (like Chris's Puffins for example), you really need to frame appropriately. A very common mistake made by photographers is to improperly frame too largely. While this isn't always your fault- sometimes your subject is scared of humans and you therefore can't get very close to it- you need to try your best to circumnavigate this challenge to appropriately focus your subject within a proportionate frame. If it's impossible to get close enough to do so manually, pack the right gear to assist in your zoom. 
      p Again, wildlife is often in motion- so focusing and snapping a clear shot can be a challenge. But most all great wildlife photography is the product of patience. If this is something you often struggle with, check on this article on continuous shooting mode for an easier alternative. 
  
  .project
    .project__preview-image
      h2.project__title Food &amp; Drink
      p.project__description Featuring the best food and drink photos showcasing the world of culinary delights.
    .project__details
      p It's important to have some information about your subject before you head out. For example, NYIP mentor Chris Corradino leads multiple photo tours across the globe on a yearly basis, and he also plans frequent wildlife photography excursions of his own. One of the most important parts of his compositional process is the research before the trip. Without any background or context about what and where you'll be working, you will inevitably be somewhat unprepared. Check out this article about his 2010 trip to photograph puffins on Machias Seal Island, a speck of land in the Bay of Fundy of the coast of Maine. The research and preparation that went into the journey clearly simplified the process when it was time to get to work. 
      p If a certain animal is the focus of your wildlife shot (like Chris's Puffins for example), you really need to frame appropriately. A very common mistake made by photographers is to improperly frame too largely. While this isn't always your fault- sometimes your subject is scared of humans and you therefore can't get very close to it- you need to try your best to circumnavigate this challenge to appropriately focus your subject within a proportionate frame. If it's impossible to get close enough to do so manually, pack the right gear to assist in your zoom. 
      p Again, wildlife is often in motion- so focusing and snapping a clear shot can be a challenge. But most all great wildlife photography is the product of patience. If this is something you often struggle with, check on this article on continuous shooting mode for an easier alternative. 
  
  .project
    .project__preview-image
      h2.project__title Architecture
      p.project__description Discover a new appreciation for the world of architecture, featuring buildings and structures from around the world.
    .project__details
      p It's important to have some information about your subject before you head out. For example, NYIP mentor Chris Corradino leads multiple photo tours across the globe on a yearly basis, and he also plans frequent wildlife photography excursions of his own. One of the most important parts of his compositional process is the research before the trip. Without any background or context about what and where you'll be working, you will inevitably be somewhat unprepared. Check out this article about his 2010 trip to photograph puffins on Machias Seal Island, a speck of land in the Bay of Fundy of the coast of Maine. The research and preparation that went into the journey clearly simplified the process when it was time to get to work. 
      p If a certain animal is the focus of your wildlife shot (like Chris's Puffins for example), you really need to frame appropriately. A very common mistake made by photographers is to improperly frame too largely. While this isn't always your fault- sometimes your subject is scared of humans and you therefore can't get very close to it- you need to try your best to circumnavigate this challenge to appropriately focus your subject within a proportionate frame. If it's impossible to get close enough to do so manually, pack the right gear to assist in your zoom. 
      p Again, wildlife is often in motion- so focusing and snapping a clear shot can be a challenge. But most all great wildlife photography is the product of patience. If this is something you often struggle with, check on this article on continuous shooting mode for an easier alternative. 
  
  .project
    .project__preview-image
      h2.project__title Animals
      p.project__description  Featuring wildlife photographers as they explore the beauty of the natural world.
    .project__details
      p It's important to have some information about your subject before you head out. For example, NYIP mentor Chris Corradino leads multiple photo tours across the globe on a yearly basis, and he also plans frequent wildlife photography excursions of his own. One of the most important parts of his compositional process is the research before the trip. Without any background or context about what and where you'll be working, you will inevitably be somewhat unprepared. Check out this article about his 2010 trip to photograph puffins on Machias Seal Island, a speck of land in the Bay of Fundy of the coast of Maine. The research and preparation that went into the journey clearly simplified the process when it was time to get to work. 
      p If a certain animal is the focus of your wildlife shot (like Chris's Puffins for example), you really need to frame appropriately. A very common mistake made by photographers is to improperly frame too largely. While this isn't always your fault- sometimes your subject is scared of humans and you therefore can't get very close to it- you need to try your best to circumnavigate this challenge to appropriately focus your subject within a proportionate frame. If it's impossible to get close enough to do so manually, pack the right gear to assist in your zoom. 
      p Again, wildlife is often in motion- so focusing and snapping a clear shot can be a challenge. But most all great wildlife photography is the product of patience. If this is something you often struggle with, check on this article on continuous shooting mode for an easier alternative. 



